@model Application.eGreeting.Models.SlideCard

@{
    /**/

    ViewBag.Title = "Index";
    Layout = null; //
}

<div class="col-sm-12" style="padding-top: 30px; padding: bottom: 30px">
    <h5 style="font-weight: bold; margin-bottom: 30px">Birthday</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="light-menu">
                <ul id="responsive">
                    @if (Model.ListBirthday != null)
                    {
                        foreach (var item in Model.ListBirthday)
                        {
                            <li>
                                <div class="box-card" style="margin-bottom: 10px">
                                    <img src="~/Content/img/@item.ImageName" alt="image" class="image" style="width:100%">
                                    <div class="middle">
                                        <a href="#" class="btn-select">SELECT</a>
                                    </div>
                                    <div class="name-card">
                                        <h6>@item.NameCard</h6>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="padding-top: 30px; padding: bottom: 30px">
    <h5 style="font-weight: bold; margin-bottom: 30px">New Year</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="light-menu">
                <ul id="responsive">
                    @if (Model.ListNewYear != null)
                    {
                        foreach (var item in Model.ListNewYear)
                        {
                            <li>
                                <div class="box-card" style="margin-bottom: 10px">
                                    <img src="~/Content/img/@item.ImageName" alt="image" class="image" style="width:100%">
                                    <div class="middle">
                                        <a href="#" class="btn-select">SELECT</a>
                                    </div>
                                    <div class="name-card">
                                        <h6>@item.NameCard</h6>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="padding-top: 30px; padding: bottom: 30px">
    <h5 style="font-weight: bold; margin-bottom: 30px">Festival</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="light-menu">
                <ul id="responsive">
                    @if (Model.ListFestival != null)
                    {
                        foreach (var item in Model.ListFestival)
                        {
                            <li>
                                <div class="box-card" style="margin-bottom: 10px">
                                    <img src="~/Content/img/@item.ImageName" alt="image" class="image" style="width:100%">
                                    <div class="middle">
                                        <a href="#" class="btn-select">SELECT</a>
                                    </div>
                                    <div class="name-card">
                                        <h6>@item.NameCard</h6>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
