@model PagedList.IPagedList<Application.eGreeting.Models.Card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container>
    <div class="col-sm-12">
        <!-- light-slider -->
        <div class="light-slider-menu">
            <ul id="responsive-banner" style="padding: 0">
                <li>
                    <div>
                        <img src="~/Content/img/banner.jpg" style="width: 100%; height: 50%">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/Content/img/banner.jpg" style="width: 100%; height: 50%">
                    </div>
                </li>
                <li>
                    <div>
                        <img src="~/Content/img/banner.jpg" style="width: 100%; height: 50%">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12" style="padding-top: 30px; padding: bottom: 30px">
        <h5 style="font-weight: bold; margin-bottom: 30px">Birthday</h5>
        <div class="row">
            <div class="col-sm-12">
                <div class="light-menu">
                    <ul id="responsive">
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="padding-top: 30px; padding: bottom: 30px">
        <h5 style="font-weight: bold; margin-bottom: 30px">New Year</h5>
        <div class="row">
            <div class="col-sm-12">
                <div class="light-menu">
                    <ul id="responsive-1">
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12" style="padding-top: 30px; padding-bottom: 80px">
        <h5 style="font-weight: bold; margin-bottom: 30px">Festival</h5>
        <div class="row">
            <div class="col-sm-12">
                <div class="light-menu">
                    <ul id="responsive-2">
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="box-card" style="margin-bottom: 10px">
                                <img src="~/Content/img/card.jpg" alt="image" class="image" style="width:100%">
                                <div class="middle">
                                    <a href="#" class="btn-select">SELECT</a>
                                </div>
                                <div class="name-card">
                                    <h6>card 01</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
