
@{
    ViewBag.Title = "SubscribeSend";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<h2 style="color:chocolate">Subscribe Send</h2>

<div class="container">
    <h4><p>Our motto is make the most convenient for customers, so you only need to subscribe once (pay once), you can comfortably free to send all kind of greeting cards like birthday, new year, festival for a month. Subscribtion for experience our service!</p></h4>
    <br />
    <div class="col-md-offset-2 col-md-10" style="text-align:center; display: inline-block">
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
        <button class="btn btn-success" data-toggle="modal" data-target="#formEmailSend">Accept</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="formEmailSend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea rows="10" placeholder="Your emails will daily receive card...(separate by ';' )" class="form-control rounded-0" style="max-width:100%"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @Html.ActionLink("Submit", "SubscribeSend", null, new { @class="btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>

